
@font-face {
  font-family: "Muli";
  src: url(../assets/font/Muli-ExtraLight.ttf);
}
html, body {
  margin: 0;
  padding: 0;
}
main {
  background-image: url(../assets/image/apply.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  background-attachment: fixed;
}
.job-containers {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    flex-direction: row;
    align-items: stretch;
}
.job-card {
  background: #F9F5F0;
  border-radius: 20px;
  width: 325px;
  padding: 30px;
  text-align: left;
}
.job-card h2 {
  font-size: 30px;
  color: #344F1F;
}
.job-card p {
  font-family: "Muli";
  font-size: 15px;
  color: #344F1F;
  margin: 6px 0;
}
.job-card button {
  margin-top: 15px;
  padding: 10px 25px;
  background-color: #3a5a40;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.job-application {
  background: #F9F5F0;
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-family: "Muli";
  font-size: 15px;
  color: #344F1F;
}