@font-face {
  font-family: "Muli";
  src: url(../assets/font/Muli-ExtraLight.ttf);
}
html, body {
  margin: 0;
  padding: 0;
}
main {
  background-image: url(../assets/image/apply.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  background-attachment: fixed;
}
.job-containers {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    flex-direction: row;
    align-items: stretch;
}
.job-card {
  background: #F9F5F0;
  border-radius: 20px;
  width: 325px;
  padding: 30px;
  text-align: left;
}
.job-card h2 {
  font-size: 30px;
  color: #344F1F;
}
.job-card p {
  font-family: "Muli";
  font-size: 15px;
  color: #344F1F;
  margin: 6px 0;
}
.job-card button {
  margin-top: 15px;
  padding: 10px 25px;
  background-color: #3a5a40;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.job-application {
  background: #F9F5F0;
  display: flex; 
  justify-content: left; 
  align-items: center;
  font-family: "Muli";
  font-size: 15px;
  color: #344F1F;
  width: 450px;
  padding: 10px 70px;
  margin: 5px 0;
  line-height: 40px;
  border-radius:25px;
}
.job-application input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
.job-application textarea {
  font-family: 'Muli';
  color: #344F1F;
  font-size: 15px;
  border: 1px solid #F2EAD3;
  padding: 1px;
  border-radius: 5px;
  width: 450px;
  padding: 4px;

}
fieldset {
  border: none;
}
input[type="radio"] {
  width: 50px;
  height: 18px;
  margin: 0 20px 0 0;
  accent-color: #344F1F;
}
.job-application select {
  font-family: 'Muli';
  color: #344F1F;
  font-size: 15px;
  border: 1px solid #F2EAD3;
  padding: 1px;
  border-radius: 5px;
  width: 450px;
}
.apply button {
  font-size: 15px;
  border-radius: 10px ;
  box-shadow: none;
  height: 35px;
  width: 70px;
  cursor: pointer;
}
.clear {
  color: #344F1F;
  background-color: #F9F5F0;
  border: 2px solid #344F1F;
}
.submit {
  color: #F9F5F0;
  background-color: #344F1F;
  border: 2px solid #344F1F;
}
.job {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  display: block;
}
.skills .req {
  display: block;
  font-size: 10px;
  line-height: 2px;
  accent-color: #344F1F;
}