/* Slider */
.slider {
  position: relative;
  height: 90vh;
  background: url("../assets/image/green_tree.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5dvh;
  color: white;
}

/* Arrows */
.arrow {
  font-size: 40px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 10px;
}

.arrow.left {
  position: absolute;
  left: 20px;
}

.arrow.right {
  position: absolute;
  right: 20px;
}

/* Slide content */
.slide-content {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 30px;
  border-radius: 15px;
}

.card {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 15px;
}

.card img {
  width: 400px;
  height: auto;
  border-radius: 5px;
}

.text-box {
  max-width: 900px;
}

.text-box h2 {
  font-size: 60px;
  margin-bottom: 15px;
}

.text-box p {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.btn-learn {
  display: inline-block;
  background: #f59e0b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.btn-learn:hover {
  background: #d97706;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fffdf5;
  padding: 0px;
  color: #222;
}

/* Header */
h1 {
  color: #2e7d32;
  font-size: 32px;
  font-weight: 800;
  border-bottom: 4px solid #2e7d32;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 25px
}

/* Card layout */
.job-card {
  display: flex;
  background-color: #faf6e7;
  border-radius: 6px;
  overflow: hidden;
  padding: 30px 40px;
  align-items: stretch;
}

/* Left tabs */
.side-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 55px;
  height: 100%
}

.tab {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: white;
  font-weight: bold;
  padding: 30px 50px;
  text-align: center;
  font-size: 12px;
  width: 130px;
}

/* Tab colors + rounded shapes */
.tab1 {
  background:rgb(254, 199, 123);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.tab2 {
  background: rgb(244, 153, 26);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.tab3 {
  background: rgb(244, 153, 26);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Right content */
.job-details {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
  height: 100%
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.label {
  font-weight: bold;
  width: 180px;
  color: #000;
}

.value {
  flex: 1;
  color: #2e4724;
  line-height: 2.5;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-box h2,
.text-box p,
.btn-learn {
  animation: fadeInUp 1s ease-out;
}

