<style>
	@font-face {
		font-family: 'MuliBold';
		src: url('../assets/font/Muli-Bold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'MuliLight';
		src: url('../assets/font/Muli-Light.ttf') format('truetype');
	}
	@font-face {
		font-family: 'MuliSemiBold';
		src: url('../assets/font/Muli-SemiBold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'PaytoneOneRegular';
		src: url('..assets/font/PaytoneOne-Regular.ttf') format('truetype');
	}

	.footer-container {
		background-color: rgb(52, 79, 31);

	}

	.hellu {
		color: white;
		font-family: 'PaytoneOneRegular', sans-serif;
		font-size: 36px;
		padding: 20px 0 20px 0;
		border-bottom: 1px solid white;
		margin: 0 30px;
	}

	.social-info {
		display: flex;
		justify-content: space-between;
		padding: 30px 100px;
		font-size: 24px;
		color: white;
	}

	.social-info ul {
		list-style: none;  
		padding: 0;       
		margin: 0;       
	}
	
	.social-info li {
		font-size: 17px;
		margin: 8px 0;
	}

	.social-info li a {
		color: white;
		text-decoration: none;
	}

	.address {
		display: inline-block;
		padding-left: 45px;
	}

	.extra-info {
		display: flex;
		justify-content: space-between;
		padding: 20px 30px;
		font-size: 14px;
		color: white;
	}

	.extra-info .jira {
		font-size: 20px;
		font-family: 'PaytoneOneRegular', sans-serif;
		font-weight: bold;
	}

	.extra-info .jira a{
		color: white;
		text-decoration: none;
	}

</style>

<footer>
	<div class="footer-container">
		<p class="hellu">Hellu World?</p>

		<div class="social-info">
			<div>
				<p>Explore</p>
				<ul>
					<li><a href="index.html">Homepage</a></li>
					<li><a href="jobs.html">Job Description</a></li>
					<li><a href="apply.html">Application</a></li>
				</ul>
			</div>
			<div>
				<p>Our Company</p>
				<ul>
					<li><a href="about.html">About Us</a></li>
				<ul>
			</div>
			<div>
				<p>Contact Via</p>
				<ul>
					<li>Email: helluworld?@gmail.com</li>
					<li>Phone: Phone: (+84) 70 369 5178</li>
					<li>
						Address:
						<span class="address">A35 Bach Dang,<br>
						Tan Son Hoa Ward,<br>
						Ho Chi Minh City</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="extra-info">
			<p class="copyright">© 2025 Hellu World?. All Rights Reserved<p>
			<p class="jira"><a href="https://bkngoc110407.atlassian.net/jira/software/projects/SCRUM/boards/1?atlOrigin=eyJpIjoiNGNjZjE1MDkzYTYxNDEwNmI3Nzc5MjdhMzRmZGRmMjQiLCJwIjoiaiJ9" target="_blank">Jira</a></p>	
		</div>
	</div>
</footer>
