<style>
	@font-face {
		font-family: 'MuliBold';
		src: url('../assets/font/Muli-Bold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'MuliLight';
		src: url('../assets/font/Muli-Light.ttf') format('truetype');
	}
	@font-face {
		font-family: 'MuliSemiBold';
		src: url('../assets/font/Muli-SemiBold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'NotoSerifDisplay';
		src: url('..assets/font/NotoSerifDisplay_Condensed-Black.ttf') format('truetype');
	}

	.footer-container {
		background-color: rgb(52, 79, 31);

	}

	.hellu {
		color: white;
		font-family: 'NotoSerifDisplay', sans-serif;
		font-size: 36px;
		padding: 20px 0 10px 70px;
		margin: 0;
	}

</style>

<footer>
	<div class="footer-container">
		<p class="hellu">Hellu World?</p>

		<div class="social-info">
			<div>
				<p>Explore</p>
				<ul>
					<li><a href="index.html">Homepage</a></li>
					<li><a href="jobs.html">Job Description</a></li>
					<li><a href="apply.html">Application</a></li>
				</ul>
			</div>
			<div>
				<p>Our Company</p>
				<ul>
					<li><a href="about.html">About Us</a></li>
				<ul>
			</div>
			<div>
				<p>Contact Via</p>
				<ul>
					<li>Email: helluworld?@gmail.com</li>
					<li>Phone: Phone: (+84) 70 369 5178</li>
					<li>Add: A35 Bach Dang, Tan Son Hoa Ward, Ho Chi Minh City</li>
				</ul>
			</div>
		</div>
		<div>
			<p>© 2025 Hellu World?. All Rights Reserved<p>
		</div>
	</div>
</footer>
